<p id="notice"><%= notice %></p>

<h1><%= @document.title %></h1>

<div>
  <% @document.images.each do |image| %>
    <%= image_tag "/#{image}" %>
  <% end %>
</div>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
